/* src/App.css */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.App {
  min-height: 100vh; /* This makes sure your app covers at least the full view height but can grow */
  overflow-y: auto; /* Ensures scrolling is enabled if content overflows */
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #212112;
    background-color: #fff;
    overflow-x: hidden;
    transition: all 200ms linear;
}

/* Clear default margin for main elements */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

/* Utility classes for padding and margin */
.pt-1 { padding-top: 1rem; }
.pb-1 { padding-bottom: 1rem; }
.mt-1 { margin-top: 1rem; }
.mb-1 { margin-bottom: 1rem; }

/* Styling for selection */
::selection {
    color: #fff;
    background-color: #8167a9;
}
::-moz-selection {
    color: #fff;
    background-color: #8167a9;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Enable vertical scrolling */
}

